.services-items i{
  font-size: 40px;
  transition: all 0.3s;
}
.services-items:hover.services-items i{
  color: var(--primary-color);
}
/* PORTFOLIO */
.portfolio h3{
  text-align: center;
  margin-bottom: 20px;
  color: #8e8e8e;
}
.carousel{
  width: 360px;
  margin: 0px auto;
}
.carousel-container{
position: relative;
  height: 640px;
}
.carousel-left,
.carousel-right {
position: absolute;
display: block;
  font-size: 30px;
width: 30px;
height: 30px;
border: none;
top: calc(50% - 30px);
cursor: pointer;
line-height: 30px;
text-align: center;
background: none;
color: var(--primary-color);
opacity: 20%;
  transition: all 300ms;
}
.carousel-left:hover,
.carousel-right:hover {
opacity: 100%;
  color: var(--primary-color);
  transition: all 300ms;
}
.carousel-left {
left: -30px;
}
.carousel-right{
right: -30px;
}
.carousel-list {
overflow: hidden;
}
.carousel-element {
text-align: center;
}
.carousel-links a{
font-size: 16px;
  transition: all 300ms;
  color: #8e8e8e;
  padding: 10px 15px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid var(--primary-color);
}
.carousel-links{
  display: flex;
  gap: 15px;
  margin-top: 25px;
  justify-content: center;
}
.carousel-links a:hover{
color: #f5f5f5;
  transition: all 300ms;
}
.carousel-links a:hover > i{
color: var(--primary-color);
}
.carousel-indicators{
width: 85%;
}
.carousel-indicators .glider-dot {
display: block;
width: 30px;
height: 4px;
background: var(--primary-color);
opacity: .2;
border-radius: 0;
  transition: all 100ms;
  margin-top: 25px;
}
.carousel-indicators .glider-dot:hover {
  opacity: .5;
  background: var(--primary-color);
  transition: all 100ms;
}
.carousel-indicators .glider-dot.active {
opacity: 1;
  background: var(--primary-color);
}
/* CONTACT */
.contact h3{
  text-align: center;
  margin-bottom: 20px;
  color: #8e8e8e;
}
.contact-layout{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.contact-items{
  background: #191919;
  color: #8e8e8e;
  padding: 50px;
  border-radius: 10px;
  text-align: center;
  transition: 300ms;
}
.contact-items:hover{
  color:#f5f5f5;
}
.contact-items:hover.contact-items p{
  text-shadow: 2px 2px #040402;
}
.contact-items i{
  font-size: 50px;
  margin-bottom: 10px
}
.contact-items:hover.contact-items i{
  text-shadow: 3px 3px #040402;
}
/* FOOTER */
.footer{
  text-align: center;
  color: #8e8e8e;
  padding: 30px 0px;
  text-align: center;
  font-size: 14px;
}
.footer a{
  transition: 300ms;
  color: #8e8e8e;
}
.footer a:hover{
  color:#f5f5f5;
}

.navmenu{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}
.menuopcion{
  background-color:red;
}

